@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1440px;
    margin:0 auto;
}
.container-small{
    max-width:800px;
    margin:0 auto;
}
.text-center{
    text-align: center;
}
.bg-color{
 background-color: #EEF2FF;
}
.p-3{
    padding:30px;
}
.my-3{
    margin:30px;
}
.spny{
    font-size:50px;
color:#56AF58 ;
    text-decoration: underline;
}
.underline {
    text-decoration: underline;
    line-height: 1.6;
}

.spn{
    font-size:50px;
    color:#56AF58 ;
}

.spann{
    font-size: 25px;
    font-weight: lighter;

}

.my-icon{
    margin: 10px;
}
.text-center{
    text-align: center;
}
.vh-35{
    height: 35vh;
}
.vh-50{
    height: 50vh;
}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:25px 0;
}
.card-body{
    width: 50%;
}
.img-car{
    width:70%
}
.shadow{
    box-shadow: 4px 4px 3px 6px rgba(34, 60, 80, 0.2);
}
.card{
    width: 30.2%;

    img{
        width: 100%;
    }
}
.section-padding{
    padding:50px 0;
    margin-bottom:40px;
}
.align-center{
    align-items:center;
}
.title-typ{
    font-size:20px;
    font-weight: lighter;
    margin:20px;
}
.title{
    font-size: 100px;
}
.first-block {
    width: 44%;
}
.img-card{
    width:54%;
}
.second-block{
    width:52.4%;
}

.img-cards{
    padding:20px;
    width: 46.6%
}
.card-img{
    width:30,2%;

    img{
        width: 100%;
        
    }
}

.text{
    margin:20px;
}
.display{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:25px;
}
.title-block {
    margin: 20px;
}
.color{
    color:#56AF58;
}
.btn{
    margin:10px;
    padding:15px;
    color: white;
    background-color: #56AF58;
    font-size: 20px;
    border:  none;
    border-radius: 5px;

    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}